header {
  background-color: rgb(181, 235, 236);
}
.col {
  border: 1px solid black;
}
main {
  background-color: aquamarine;
}
footer {
  border: 1px solid black;
  background-color: rgba(33, 69, 70, 0.171);
}
